
@font-face {
  font-family: 'main-font';
  src: url('../public/assets/fonts/le-havre-thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold-font';
  src: url('../public/assets/fonts/LeHavre.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'main-font';
}
input{
  font-family: "bold-font";
}
.bold{
  font-family: "bold-font";
}
.no-scroll{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
