<div class="text-white flex justify-between items-center h-28 w-full md:mt-8 pastel ">
  <div class="cursor-pointer" (click)="scrollToPrevItem()">
    <img src="assets/images/left-chevron.png" class="h-8 pl-4" alt="">
  </div>
  <div class="carousel tracking-wide text-center flex-1 h-full" #carousel>
    <div class="carousel-item flex flex-col w-full h-full  ">
      <div class="bold text-white">ÎMPREUNĂ, ÎN FIECARE MOMENT CARE CONTEAZĂ.</div>
      <div class="text-white">
        Împreună din 2014
      </div>
    </div>
    <div class="flex flex-col carousel-item w-full h-full ">
      <div class="bold">
        NE BUCURĂM CĂ FACEM PARTE DIN ALEGERILE VOASTRE.
      </div>
      <div class="flex mt-2 flex-row justify-center items-center">
        <img class="h-6 " src=" assets/images/rate.png" alt="">
        4.8/5 pe Google Reviews
      </div>
    </div>
    <div class="carousel-item flex flex-col w-full h-full  ">
      <div class="bold text-white">ÎMPREUNĂ, ÎN FIECARE MOMENT CARE CONTEAZĂ.</div>
      <div class="text-white">
        Împreună din 2014
      </div>
    </div>
  </div>
  <div (click)="scrollToNextItem()" class="cursor-pointer">
    <img src="assets/images/left-chevron.png" class="rotate-180 h-8 pl-4" alt="">
  </div>
</div>



