<div class="w-full flex-col h-16 justify-between max-h-16 flex md:max-h-46 md:h-48 ">
  <div class="h-8 hidden md:flex w-full">

  </div>
  <div class="flex justify-between h-16 border-gray-300  border-b   md:h-26 w-full ">
    <div class="">

    </div>
    <div class="flex w-auto pt-2 pb-2 md:pt-6 md:pb-6 justify-center flex-1">
      <img class="h-full w-auto"  src="assets/images/1.png" alt="">
    </div>
    <div class="">

    </div>
  </div>
  <div class="whitespace-nowrap leading-tight hidden md:flex flex-row  justify-between border-gray-300 border-b  flex-1">
    <button type="button" class="px-2 flex-grow border-r border-gray-300">Flowers</button>
    <button type="button" class="px-2 flex-grow border-r border-gray-300">Easter Gifts</button>
    <button type="button" class="px-2 flex-grow border-r border-gray-300">Leterbox Flowers</button>
    <button type="button" class="px-2 flex-grow border-r border-gray-300">Hand Tied Bouquets</button>
    <button type="button" class="px-2 flex-grow border-r border-gray-300">House Plants</button>
    <button type="button" class="px-2 flex-grow border-r border-gray-300">Hampers</button>
    <button type="button" class="px-2 flex-grow ">Send A Greeting Card</button>
  </div>
</div>
