<div class="justify-between py-4 px-2 bold leading-none items-end flex text-center w-full ">
  <hr class="flex-grow border-gray-400 pb-2">
  <div class="bold text-2xl md:text-4xl tracking-wide hover:underline hover:text-gray-400  cursor-pointer px-2 md:px-6" (mouseup)= 'toggleView()'>Flori Si Buchete</div>
  <div class="underline decoration-1 cursor-pointer md:text-2xl text-gray-500 hover:text-gray-400 pr-2 md:pr-6">Vezi Toate</div>
  <hr class="flex-grow border-gray-400 pb-2">
</div>
<div (mousedown)="onDragStart($event)" (mousemove)="onDragging($event)" (mouseup)="onDragEnd()" (mouseleave)="onDragEnd()" #scrollable class="flex mt-4 flex-row w-full no-scroll overflow-x-scroll">
  @for(product of products | slice:0:viewAll(); track product){
    <div   [class]= "'min-w-'+prodSize + ' md:min-w-' + mdProdSize">
     <app-product-item [name]= product></app-product-item>
    </div>
  }
</div>

