<div class="flex flex-row pt-4">
  <div class="w-2/4 max-w-2/4 text-4xl">
     <app-product-item class=""></app-product-item>
  </div>
  <div class="grid text-l gap-x-4 pl-4 grid-cols-2 grid-rows-2 w-2/4">
     <app-product-item [name]= "'Iris and Freesia'"[picUrl]="'assets/images/placeholder/ChatGPT Image Apr 16, 2025, 03_32_43 PM.png'" class=""></app-product-item>
     <app-product-item [picUrl]="'assets/images/placeholder/ChatGPT Image Apr 16, 2025, 03_32_20 PM.png'" class=""></app-product-item>
     <app-product-item [name]="'Strawberry Sunset'" [picUrl]="'assets/images/placeholder/ChatGPT Image Apr 16, 2025, 03_33_05 PM.png'" class=""></app-product-item>
     <app-product-item [picUrl]="'assets/images/placeholder/ChatGPT Image Apr 16, 2025, 03_32_43 PM.png'" class=""></app-product-item>
  </div>
</div>
